@inject Resource localizer
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-portlet m-portlet--bordered m-portlet--rounded m-portlet--unair m-portlet--head-sm">
    <div class="m-portlet__head m--padding-15">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Flight Low-Fare Search
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body m--padding-20">
        <div class="row">
            <div class="col-md-12 col-lg-12 m-portlet__body--no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>
                            <i class="la la-search"></i>
                            Search
                        </h5>
                        <hr />
                    </div>
                </div>
                <form id="form-search">
                    <div class="row m--margin-bottom-20">
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label for="departure-search">Polazni aerodrom: *</label>
                            <input minlength="3" maxlength="3" required pattern="[A-Za-z]{3}" type="text" name="departure" class="form-control m-input" placeholder="Polazni aerodrom (IATA)" data-col-index="1" id="departure-search" />
                        </div>
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label>Dolazni aerodrom: *</label>
                            <input minlength="3" maxlength="3" required pattern="[A-Za-z]{3}" type="text" name="arrival" class="form-control m-input" placeholder="Odredisni aerodrom (IATA)" data-col-index="2" id="arrival-search" />
                        </div>
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label>Valuta cijene: </label>
                            <input minlength="3" maxlength="3" pattern="[A-Za-z]{3}" value="EUR" type="text" name="currency" class="form-control m-input" placeholder="Valuta za cijene (EUR, USD...)" data-col-index="3" id="currency-search" />
                        </div>
                    </div>
                    <div class="row m--margin-bottom-20">
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label>Datum polaska: *</label>
                            <input required type="text" name="datedeparture" class="form-control m-input" placeholder="Datum polaska" data-col-index="4" id="date-departure-search" />
                        </div>
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label>Datum dolaska:</label>
                            <input type="text" name="datearrival" class="form-control m-input" placeholder="Datum dolaska" data-col-index="5" id="date-arrival-search" />
                        </div>
                        <div class="col-lg-4 m--margin-bottom-10-tablet-and-mobile">
                            <label>Broj putnika:</label>
                            <input pattern="[1-9]{1}" type="text" name="adults" class="form-control m-input" placeholder="Broj putnika (735)" data-col-index="6" id="adults-search" />
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-brand m-btn m-btn--icon pull-right" id="m_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>Search</span>
                            </span>
                        </button>
                        <div class="col-md-3 pull-right">
                            <button class="btn btn-secondary m-btn m-btn--icon pull-right" id="m_reset">
                                <span>
                                    <i class="la la-close"></i>
                                    <span>Reset</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-md-12 col-lg-12 m-portlet__body--no-padding">
                <table id="datatable" class="table m-table m-table--head-separator-primary  table-hover no-footer dtr-inline" aria-controls="m_table_1">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-left" title="Polazni aerodrom">Polazak</th>
                            <th class="text-left" title="Datum i vrijeme polaska">Datum</th>
                            <th class="text-left" title="Broj presjedanja">Pre.</th>
                            <th class="text-left" title="Dolazni aerodrom">Povratak</th>
                            <th class="text-left" title="Datum i vrijeme dolaska">Datum</th>
                            <th class="text-left" title="Broj presjedanja">Pre.</th>
                            <th class="text-left" title="Broj mjesta za putnike">Mjesta</th>
                            <th class="text-left" title="Cijena i valuta">Cijena</th>
                            <th class="text-center" title="Dodatne akcije">Akcija</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var DataTable = {
        init: function () {
            var datatable = $("#datatable").DataTable({
                processing: true,
                serverSide: true,
                pageLength: 15,
                "bInfo": false,
                "bLengthChange": false,
                "bFilter": false,
                deferRender: true,
                pagingType: "full_numbers",
                ajax: {
                    url: '/Home/GetFlightsAsync',
                    type: "post",
                    dataType: "json",
                    async: true,
                    data: function (d) {
                        d.columns[1].search.value = $("#departure-search").val();
                        d.columns[2].search.value = $("#arrival-search").val();
                        d.columns[3].search.value = $("#currency-search").val();
                        d.columns[4].search.value = $("#date-departure-search").val();
                        d.columns[5].search.value = $("#date-arrival-search").val();
                        d.columns[6].search.value = $("#adults-search").val();
                    }
                },
                order: [[1, "asc"]],
                columns: [
                    { 'data': '#' },
                    { 'data': 'departure' },
                    { 'data': 'departureTime' },
                    { 'data': 'departureTransfer' },
                    { 'data': 'arrival' },
                    { 'data': 'arrivalTime' },
                    { 'data': 'arrivalTransfer' },
                    { 'data': 'adults' },
                    { 'data': 'price' },
                    { 'data': 'actions' }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        title: "#",
                        orderable: false,
                        className: "text-center align-middle",
                        render: function (a, e, t, n) {
                            return n.row + n.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        targets: 1,
                        name: "Departure",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 2,
                        name: "DepartureTime",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 3,
                        name: "DepartureTransfer",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 4,
                        name: "Arrival",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 5,
                        name: "ArrivalTime",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 6,
                        name: "ArrivalTransfer",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 7,
                        name: "Adults",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: 8,
                        name: "Price",
                        orderable: false,
                        className: "align-middle text-left"

                    },
                    {
                        targets: -1,
                        name: "Actions",
                        className: "text-center",
                        orderable: false,
                        render: function (d, t, r, m) {
                            return `
                                <a href="/Home/Details?id=${r.flightId}" async: true, data-ajax-modal="true"  data-ajax-modal-destination="modal-lg" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only" title="Detalji">
                                    <i class="la la-info-circle"></i>
                                </a>
                                    `
                        }
                    }
                ]
            });
            return datatable;
        }
    }
    $(document).ready(function () {
        DataTable.init();
        //$("#form-search").validate();
        $("#form-search").validate({
            rules: {
                departure: {
                    required: true,
                },
                arrival: {
                    required: true
                },
                datedeparture: {
                    required: true
                },
                adults: {
                    digits: true,
                    range: [1, 9]
                }
            },
            messages: {
                departure: {
                    required: 'Potrebno je unijeti IATA kod'
                },
                arrival: {
                    required: 'Potrebno je unijeti IATA kod'
                },
                datedeparture: {
                    required: 'Potrebno je odabrati datum'
                },
                adults: {
                    required: 'Unesite broj putnika od 1-9'
                }
            },
        });

        $("#m_search").on('click', function () {
            if ($('#form-search').valid()) {
                $("#datatable").DataTable().ajax.reload();
            }
        });

        $("#m_reset").on('click', function () {
            $("input[type=text]").val('');
            $("#departure-search").val('').trigger('change');
            $("#arrival-search").val('').trigger('change');
            $("#currency-search").val('').trigger('change');
            $("#date-departure-search").val('').trigger('change');
            $("#date-arrival-search").val('').trigger('change');
            $("#adults-search").val('').trigger('change');
            $("#m_search").trigger('click');
        });
        $("#date-departure-search").daterangepicker({
            singleDatePicker: true,
            //startDate: new Date(),
            locale: {
                format: 'YYYY-MM-DD',
                useCurrent: true
            }
        });
        $("#date-arrival-search").daterangepicker({
            singleDatePicker: true,
            ////startDate: new Date(),
            locale: {
                format: 'YYYY-MM-DD',
            }
        });
    });
</script>
