
@{
    Layout = null;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="100" m-minimize-mobile-offset="100">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a href="index.html" class="m-brand__logo-wrapper">
                           AmadeusDev
                        </a>
                    </div>
                    
                </div>
            </div>
            <!-- END: Brand -->
            @*<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">*@
                <!-- BEGIN: Horizontal Menu -->
                <!-- END: Horizontal Menu -->
                <!-- BEGIN: Topbar -->
                
                <!-- END: Topbar -->
            @*</div>*@
        </div>
    </div>
</header>